<div class="container mt-5">
  <select class="form-select" aria-label="Default select example">
    <option selected>類別</option>
    <option value="1">家居物業</option>
    <option value="2">交通出行</option>
    <option value="3">休閒娛樂</option>
    <option value="4">餐飲食品</option>
    <option value="5">其他</option>
  </select>
  <div class="total-container">
    <div id="total-text"><span>總金額:</span></div>
    <div id="total-number">25260</div>
  </div>
  <div class="record-container">
    <i class="fa-solid fa-house"></i>
    <div>
      <p>name</p>
      <p>date</p>
    </div>
    <span>amount</span>
    <a href="/record/edit">修改</a>
    <a href="/record/delete">刪除</a>
  </div>
  
  <a class="btn btn-primary mt-3" href="/record/new">新增支出</a>
</div>

  
  
  
 
  