/* index.hbs */
.index-container{
  margin: 50px auto 0;
  width: 800px;
  text-align: center;
  padding: 30px;
}


#sort-form{
  display: flex;
  justify-content: center;
}

.form-select{
  width: 600px;
}

.total-div{
  margin: 50px auto 0;
  display:flex;
  height: 100px;
  width: 600px;
  justify-content: center;
}

#total-text{
  height:100%;
  width: 20%;
}

#total-number{
  height:100%;
  width: 80%;
  font-size:500%;
}

.record-div{
  margin-top: 100px;
  display:flex;
  width: 800px;
  justify-content: space-around;
}

.title{
  display:flex;
  width: 80%;
  justify-content: space-around;
}

.button-div{
  margin: auto 0;
  display: flex;
  width:20%;
}

i{
  font-size: 50px;
}

#amount{
  margin: auto 0;
}

/*new.hbs  edit.hbs */

.new-container, .edit-container{
  height: 800px;
  margin:0 auto;
  text-align: center;
}

table{
  margin: 5% auto;
  border-collapse: separate;
  border-spacing: 50px;
}

#new-button, #send-button{
  width: 100%;
}
/* .button-td{
  width: 100px;
} */

#edit-button, #delete{
  width: 60px;
}